[submodule "thirdparty/BehaviourTree-ai"]
	path = thirdparty/BehaviourTree-ai
	url = https://github.com/esengine/BehaviourTree-ai.git
[submodule "thirdparty/admin-backend"]
	path = thirdparty/admin-backend
	url = https://github.com/esengine/admin-backend.git
[submodule "extensions/cocos/cocos-ecs/extensions/cocos-ecs-extension"]
	path = extensions/cocos/cocos-ecs/extensions/cocos-ecs-extension
	url = https://github.com/esengine/cocos-ecs-extension.git
[submodule "extensions/cocos/cocos-ecs/extensions/behaviour-tree"]
	path = extensions/cocos/cocos-ecs/extensions/behaviour-tree
	url = https://github.com/esengine/behaviour-tree.git
[submodule "extensions/cocos/cocos-ecs/extensions/cocos-terrain-gen"]
	path = extensions/cocos/cocos-ecs/extensions/cocos-terrain-gen
	url = https://github.com/esengine/cocos-terrain-gen.git
