<div class="tree-node-item" :style="{ paddingLeft: (level * 16) + 'px' }">
    <div class="tree-node-line" @click="$emit('node-select', node.id)">
        <span class="tree-node-icon">{{ node.icon }}</span>
        <span class="tree-node-name">{{ node.name }}</span>
        <span class="tree-node-type">({{ node.type }})</span>
    </div>
    <tree-node-item 
        v-for="childId in (node.children || [])" 
        :key="childId"
        :node="getNodeByIdLocal(childId)"
        :level="level + 1"
        :get-node-by-id-local="getNodeByIdLocal"
        @node-select="$emit('node-select', $event)"
        v-if="getNodeByIdLocal(childId)"
    ></tree-node-item>
</div> 